<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Game Quiz
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large" id="title">Game Quiz</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <ion-text><h1 id="title">Game Quiz</h1></ion-text>
      <ion-text><h5>Your Time was {{ durationSeconds }} seconds</h5></ion-text>
      <ion-text><h5>Tap the controller to start the quiz again...</h5></ion-text>
      <img width="200" height="auto" src="../../assets/imgs/controller-1294077_640.png" (click)="goHome()" tappable />
    </div>
  </ion-content>
  