<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Game Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title id="title" size="large">Game Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text><h1 id="title">Game Quiz</h1></ion-text>
    <ion-text><h5>Question {{quizService.getIndexOfActiveQuestion()}}/
      {{quizService.getNumberOfQuestions()}}</h5></ion-text>
    <ion-text><h5>Which game is the character from?</h5></ion-text>
    <ion-text color="dark"><h5 id="quote">{{quizService.getQuoteOfActiveQuestion()}}</h5></ion-text>
    <ion-list>
      <ion-radio-group>
        <ion-item id="option" *ngFor="let option of quizService.getOptionsOfActiveQuestion(); let i=index">
          <ion-label>{{option}}</ion-label>
          <ion-radio *ngIf=!quizService.isAnswerCorrect() (click)="checkOption(i)">
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button [disabled]="!quizService.isAnswerCorrect()"
      shape="round" color="dark" (click)="continue()" id="button" tappable>Continue</ion-button>
    <ion-text *ngIf=quizService.isOptionSelected()><h6>{{feedback}}</h6></ion-text>
  </div>
</ion-content>
