#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ead3ff;
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-list {
  background-color: #cba7ff;
  padding-top: 3px;
  padding-bottom: 3px;
}

#title {
  font-family: Georgia;
  font-size: 30px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#quote {
  font-family: Georgia;
  font-size: 28px;
}

#option {
  font-size: 16px;
  font-weight: bold;
}

#button {
  margin-top: 20px;
  margin-bottom: 15px;
}